.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
  width: 100%;
}

.header_logo {
  object-fit: contain;
  height: 100px;
  margin-left: 20px;
}

.header_center {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: fit-content;
  padding: 10px;
  height: 30px;
  border: 1px solid lightgrey;
  border-radius: 9999px;
}

.header_center > input {
  border: none;
  padding: 10px;
  outline-width: 0;
}

.header_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20vw;
  margin-right: 80px;
}

.header_searchIcon {
  padding-top: 3px;
}

.header_languageIcon,
.header_expandMoreIcon,
.header_avatar,
.header_right > p,
.header_searchIcon {
  cursor: pointer;
  box-sizing: content-box;
}

.header_languageIcon:hover,
.header_expandMoreIcon:hover,
.header_right > p:hover {
  border-radius: 50%;
  color: rgb(255, 119, 121);
}

.header_avatar:hover {
  border-radius: 50%;
  background-color: rgb(255, 119, 121);
}

.header_right span {
  cursor: pointer;
}
.header_right span:hover {
  color: rgb(255, 119, 121);
}

.dropdown {
  position: relative;
}

.dropdown-content {
  border-radius: 20px;
  margin: 0px 15px 20px -120px;
  padding: 20px 0;
  display: none;
  position: absolute;
  left: 5vw;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content span {
  font-size: 20px;
  cursor: pointer;
  color: black;
  padding: 10px 25px;
  text-decoration: none;
  display: block;
}
.dropdown-content span:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.header_searchLink {
  color: black;
}
