.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
  width: 100%;
}

.header_logo {
  object-fit: contain;
  height: 100px;
  margin-left: 20px;
}

.header_center {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: fit-content;
  padding: 10px;
  height: 30px;
  border: 1px solid lightgrey;
  border-radius: 9999px;
}

.header_center > input {
  border: none;
  padding: 10px;
  outline-width: 0;
}

.header_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20vw;
  margin-right: 80px;
}

.header_languageIcon,
.header_expandMoreIcon,
.header_avatar,
.header_right > p,
.header_searchIcon {
  cursor: pointer;
  box-sizing: content-box;
}

.header_languageIcon:hover,
.header_expandMoreIcon:hover,
.header_right > p:hover {
  border-radius: 50%;
  color: rgb(255, 119, 121);
}

.header_avatar:hover {
  border-radius: 50%;
  background-color: rgb(255, 119, 121);
}
